#tags{
    margin-top: 1vw;
    max-height: 60vw;
    overflow-y: auto;
    overflow-x: visible;
}
.tagContainer{
    margin-left: 1vw;
}
.tagNames{
    margin-left: 1vw;
    text-overflow: ellipsis;
}
.w100{
    width: 100%;
}
.jcb{
    display: flex;
    justify-content: space-between;
}
.tags{
    height: 60vw;
}