#tags{
    margin-top: 1vw;
}
.tagContainer{
    margin-left: 1vw;
}
.tagNames{
    margin-left: 1vw;
}
.w100{
    width: 100%;
}
#project-container{
    max-height: 70vw;
    overflow-y: auto;
}
.item{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}