#tags{
    margin-top: 1vw;
}
.tagContainer{
    margin-left: 1vw;
}
.tagNames{
    margin-left: 1vw;
}
.w100{
    width: 100%;
}
#project-container{
    max-height: 90vw;
    overflow-y: auto;
}
.item{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.main{
    display: flex;
}
.m0{
    margin: 0px;
}
.p0{
    padding: 0px;
}