<div class="main">
  <div class="card shadow-sm">
    <img src="{{project.pictureURL}}">
    <div class="card-body">
      <p class="card-text textarea text">{{project.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>