<div>
    <div>
        <div class="f jC">
            <h2>Knowleg</h2>
        </div>
        <div>
            <ul id="tags" class="list-group">
                <li class="list-group-item d-flex just-content-between lh-condensed card p-2" >
                    <div class="row w100">
                        <h5 class="col-sm-2">name</h5>
                        <div class="progress-bar progress-bar-striped progress-bar-animated col-sm-10" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10" style="width: 80%">
                            <div>
                                8 / 10
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>